<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='teams_stats.css') }}">
    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='logo.jpg') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div id="loader" class="loader"></div>
    <a href="{{ url_for('index') }}" class="logo-link">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Home" class="logo">
    </a>
    <div class="container"  id="container" style="display: none;">
        <div class="title-container">
            <div>PREMIER LEAGUE DEFENCE STATS</div>
            <div class="subtitle">Track your team's defence performance with updated stats</div>
        </div>
        <div class="page-header">
            <div class="switch-container">
                <button id="overall-btn" class="switch-btn selected">Overall</button>
                <button id="home-btn" class="switch-btn">Home</button>
                <button id="away-btn" class="switch-btn">Away</button>
            </div>

            <div class="gw-selection">
                <label for="start-gw">Start GW:</label>
                <input type="number" id="start-gw" min="1" max="{{ num_gw }}" value="1">
                <label for="end-gw">End GW:</label>
                <input type="number" id="end-gw" min="1" max="{{ num_gw }}" value="{{ num_gw }}">
                <button id="apply-gw">Apply</button>
            </div>
        </div>
        <div class="table-wrapper">
            <table class="standings-table">
                <thead>
                    <tr>
                        <th title="Team" class="fixed-column">
                            <a href="#" data-sort-by="team" data-sort-order="asc">Team <span id="team"></span></a>
                        </th>
                        <th title="Matches Played">
                            <a href="#" data-sort-by="games_played" data-sort-order="asc">Played <span id="games_played"></span></a>
                        </th>
                        <th title="Clean Sheets">
                            <a href="#" data-sort-by="cs" data-sort-order="desc">CS<span id="cs"></span></a>
                        </th>
                        <th title="Goals Conceded">
                            <a href="#" data-sort-by="goalsc" data-sort-order="asc">GC <span id="goalsc"></span></a>
                        </th>
                        <th title="Expected Goals Conceded">
                            <a href="#" data-sort-by="xgc" data-sort-order="asc">xGC <span id="xgc"></span></a>
                        </th>
                        <th title="GC -xGC">
                            <a href="#" data-sort-by="delta_xgc" data-sort-order="asc">Δ xGC <span id="delta_xgc"></span></a>
                        </th>
                        <th title="Shots Conceded">
                            <a href="#" data-sort-by="shotsc" data-sort-order="asc">Shots Conc<span id="shotsc"></span></a>
                        </th>
                        <th title="Shots in Box Conceded">
                            <a href="#" data-sort-by="sibc" data-sort-order="asc">SiB Conc<span id="sibc"></span></a>
                        </th>
                        <th title="Shots on Target Conceded">
                            <a href="#" data-sort-by="sotc" data-sort-order="asc">SoT Conc<span id="sotc"></span></a>
                        </th>
                        <th title="Big Chances Conceded">
                            <a href="#" data-sort-by="bcc" data-sort-order="asc">BC Conc<span id="bcc"></span></a>
                        </th>
                    </tr>
                </thead>
                <tbody id="data-table">
                </tbody>
            </table>
        </div>
    </div>

    <script>
        let currentDataType = 'overall';
        let num_gw;
        let sortBy='team';
        let sortOrder='desc';


        $(document).ready(function() {
            $('th a').click(function(event) {
                var $this = $(this);
                sortBy = $this.data('sort-by');
                sortOrder = $this.data('sort-order');
                sortOrder = (sortOrder === 'asc') ? 'desc' : 'asc';
                $this.data('sort-order', sortOrder);
                fetchAndSendStats(currentDataType);
            });
        });
        function calculateColor(value) {
            const normalized = Math.floor((value-1)/4) / 4; // Normalize between 0 and 1
            const red = Math.round(255 * normalized); // Darker red for higher values
            return `rgb(255, ${255 - red}, ${255 - red})`; // Red and white gradient
        }
        function change_color(value) {
            if(value>16){
                return 'white'
            }
            return 'black'
        }
        function updateTable(data) {
            const tableBody = document.getElementById('data-table');
            tableBody.innerHTML = '';
            data.forEach(function(team) {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td class="fixed-column" style="font-weight: bold;">${team.team}</td>
                    <td>${team.games_played}</td>
                    <td title="Rank by CS: ${team.cs_rank}" style="background-color: ${calculateColor(team.cs_rank)}; color:${change_color(team.cs_rank)}">${team.cs}</td>
                    <td title="Rank by GC: ${team.goalc_rank}" style="background-color: ${calculateColor(team.goalc_rank)}; color:${change_color(team.goalc_rank)}">${team.goalsc}</td>
                    <td title="Rank by xGC: ${team.xgc_rank}" style="background-color: ${calculateColor(team.xgc_rank)}; color:${change_color(team.xgc_rank)}">${team.xgc}</td>
                    <td title="Rank by Δ xGC: ${team.delta_xgc_rank}" style="background-color: ${calculateColor(team.delta_xgc_rank)}; color:${change_color(team.delta_xgc_rank)}">${team.delta_xgc}</td>
                    <td title="Rank by Shots Conc: ${team.shotsc_rank}" style="background-color: ${calculateColor(team.shotsc_rank)}; color:${change_color(team.shotsc_rank)}">${team.shotsc}</td>
                    <td title="Rank by SiB Conc: ${team.sibc_rank}" style="background-color: ${calculateColor(team.sibc_rank)}; color:${change_color(team.sibc_rank)}">${team.sibc}</td>
                    <td title="Rank by SoT Conc: ${team.sotc_rank}" style="background-color: ${calculateColor(team.sotc_rank)}; color:${change_color(team.sotc_rank)}">${team.sotc}</td>
                    <td title="Rank by BC Conc: ${team.bcc_rank}" style="background-color: ${calculateColor(team.bcc_rank)}; color:${change_color(team.bcc_rank)}">${team.bcc}</td>
                `;
                tableBody.appendChild(row);
            });
            const spans = document.querySelectorAll('span');
            spans.forEach(span => {
                span.textContent = '';
            });
            const summarySpan = document.getElementById(sortBy);
            var sort_icon = (sortOrder === 'desc') ? '▼' : '▲';
            if (sortBy=='cs'){
                sort_icon = (sort_icon === '▲') ? '▼' : '▲';
            }
            summarySpan.textContent = sort_icon;
        }
        function fetchAndSendStats(dataType) {
            const startGw = $('#start-gw').val();
            const endGw = $('#end-gw').val();

            $.ajax({
                url: '/get_stats',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    data_type: dataType,
                    start_gw: startGw,
                    end_gw: endGw,
                    sort_by:sortBy,
                    sort_order:sortOrder,
                    stats_type:'def'
                }),
                success: function(response) {
                    updateTable(response['stats']);
                    num_gw=response['num_gw']
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        $(document).ready(function() {
            fetchAndSendStats(currentDataType);
        });
        $('#apply-gw').click(function() {
            fetchAndSendStats(currentDataType);
        })
        $('#overall-btn').click(function() {
            currentDataType = 'overall';
            fetchAndSendStats(currentDataType);
        })
        $('#home-btn').click(function() {
            currentDataType = 'home';
            fetchAndSendStats(currentDataType);
        })
        $('#away-btn').click(function() {
            currentDataType = 'away';
            fetchAndSendStats(currentDataType);
        })

        // gw selection
        $(document).ready(function () {
            $('.switch-btn').on('click', function () {
                $('.switch-btn').removeClass('selected');
                $(this).addClass('selected');
            });

            $('#start-gw').on('input', function () {
                const startGw = parseInt($(this).val());
                const endGw = parseInt($('#end-gw').val());
                if (startGw <1){
                    $(this).val(1);
                }
                else if (startGw >num_gw)
                {
                    $(this).val(num_gw);
                }
                if (startGw > endGw) {
                    $(this).val(endGw);
                }
            });

            $('#end-gw').on('input', function () {
                const startGw = parseInt($('#start-gw').val());
                const endGw = parseInt($(this).val());
                if (endGw <1){
                    $(this).val(1);
                }
                else if (endGw >num_gw)
                {
                    $(this).val(num_gw);
                }
                if (endGw < startGw) {
                    $(this).val(startGw);
                }
            });
        });
        window.addEventListener('load', function() {
            const loader = document.getElementById('loader');
            const content = document.getElementById('container');
            loader.style.display = 'none';
            content.style.display = 'block';
        });
    </script>
</body>
</html>
