<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPL Academy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="dashboard">
        <!-- Sidebar -->
        <aside class="sidebar">
        <h1>FPL Academy</h1>
        <nav>
            <ul>
              <li><a href="#" class="active">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </aside>
    
        <!-- Main Content -->
        <main class="main-content">
          <header>
            <h2>Dashboard</h2>
            <a href="{{ url_for('logout') }}"><button class="btn-action">Logout</button></a>
          </header>

          <section  class="cards">
            <div class="card">
                <h3>Injury updates</h3>
                <p>Post the injuries of today</p>
            </div>
            <div class="card">
              <a href="{{ url_for('price_change') }}"><h3>Price Change</h3>
              <p>Post the price changes for today</p></a>
            </div>
            

          </section>
        </main>
      </div>
    <script src="../static/scripts.js"></script>
</body>
</html>
