<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Injury updates</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='price_change.css') }}">
</head>
<body>
  <div class="title-container">
    <div>Price Changes on day {{day}}</div>
  </div>
  <div class="container">
    <!-- Tables Section -->
    <div class="tables">
      <!-- Left Table -->
      <div class="table-card">
        <div class="card-header">
          <div class="title">
              <span>Injuried players</span>
          </div>
      </div>
        
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>Team</th>
              <th>Chance of playing</th>
              <th>news</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(injuries|length) %}
            <tr>
              <td>{{injuries[i].full_name}}</td>
              <td>{{injuries[i].team}}</td>
              <td>{{injuries[i].chance_of_playing_next_round}}</td>
              <td>{{injuries[i].news}}</td>
              <td>
                <div class="button-container" id="button">
                  <button class="post-twitter-btn" id={{injuries[i]._id}} >COPY</button>
                </div>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
  </div>
  <script>
    const num_injuries='{{injuries.full_name|length}}'
  </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
