<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team stats</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='player_page.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='logo.jpg') }}">

</head>
<body>
    <div id="loader" class="loader"></div>
    <a href="{{ url_for('index') }}" class="logo-link">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Home" class="logo">
    </a>
    <div class="container" id="container" style="display: none;">
        <div class="title-container">
            <div>{{player_name|upper}} STATS</div>
            <div class="subtitle">Take a look at your player GW by GW</div>
        </div>
        <div class="page-header">
            <div class="gw-selection">
                <label for="start-gw">Start GW:</label>
                <input type="number" id="start-gw" min="1" max="{{ num_gw }}" value="1">
                <label for="end-gw">End GW:</label>
                <input type="number" id="end-gw" min="1" max="{{ num_gw }}" value="{{ num_gw }}">
                <button id="apply-gw">Apply</button>
            </div>
            <div class="player-container" id="player_image">
            </div>
        </div>


        <div class="table-wrapper">
            <table class="standings-table">
                <thead>
                    <tr>
                        <th title="GameWeek" class="fixed-column">GW</th>
                        <th title="Opponent Team">VS</th>
                        <th title="Points">Pts</th>
                        <th title="Minutes Played">MP</th>
                        <th title="Goals Scored">Goals</th>
                        <th title="Expected Goals">xG</th>
                        <th title="Assists">Assists</th>
                        <th title="Expected Assists">xA</th>
                        <th title="Goals Conceded">Goals Conc</th>
                        <th title="Clean Sheets">CS</th>
                        <th title="Shots">Shots</th>
                        <th title="Shots on Target">SoT</th>
                        <th title="Big Chances">BC</th>
                        <th title="Chances Created">CC</th>
                        <th title="Big Chances Created">BCC</th>
                        <th title="Hit Woodwork">HW</th>
                        <th title="Total Crosses">Crosses</th>
                        <th title="Penalties Missed">Pen Missed</th>
                        <th title="Saves">Saves</th>
                        <th title="Penalties Saved">Pen Saved</th>
                        <th title="Bonus">B</th>
                        <th title="Bonus Points System">BPS</th>
                        <th title="Own Goals">OG</th>
                        <th title="Yellow Cards">YC</th>
                        <th title="Red Cards">RC</th>
                        <th title="Value">Value</th>
                    </tr>
                </thead>
                <tbody id="data-table">
                </tbody>
            </table>
        </div>
    </div>

  <script>
    let num_gw;
    function updateTable(data) {
        const player_image=document.getElementById('player_image')
        const player_code=data[0].opta_code
        const player_name=data[0].web_name
        player_image.innerHTML=`
        <img src="https://resources.premierleague.com/premierleague/photos/players/110x140/${player_code}.png" alt="${player_name}">`
        const tableBody = document.getElementById('data-table');
        tableBody.innerHTML = ``;
        for (const match of data){
            const row = document.createElement('tr');
            row.innerHTML = `
                <td style="font-weight:bold" class="fixed-column">${match.num_gw}</td>
                <td>${match.opp_team}</td>
                <td>${match.total_points}</td>
                <td>${match.minutes_played}</td>
                <td>${match.goals}</td>
                <td>${match.xG}</td>
                <td>${match.assists}</td>
                <td>${match.xA}</td>
                <td>${match.goals_conceded}</td>
                <td>${match.CS}</td>
                <td>${match.shots}</td>
                <td>${match.sot}</td>
                <td>${match.bc}</td>
                <td>${match.chances_created}</td>
                <td>${match.bc_created}</td>
                <td>${match.hit_wood_work}</td>
                <td>${match.total_cross}</td>
                <td>${match.penalties_missed}</td>
                <td>${match.saves}</td>
                <td>${match.penalties_saved}</td>
                <td>${match.bonus}</td>
                <td>${match.bps}</td>
                <td>${match.OG}</td>
                <td>${match.yellow_cards}</td>
                <td>${match.red_cards}</td>
                <td>${match.value/10}</td>
            `;
            tableBody.appendChild(row);
        }
    }

    function fetchAndSendStats() {
        const startGw = $('#start-gw').val();
        const endGw = $('#end-gw').val();

        $.ajax({
            url: '/get_player_page',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                start_gw: startGw,
                end_gw: endGw,
            }),
            success: function(response) {
                updateTable(response['fix']);
                num_gw=response['num_gw']
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    $('#apply-gw').click(function() {
        fetchAndSendStats();
    })

    // gw selection
    $(document).ready(function () {
        fetchAndSendStats();

        $('#start-gw').on('input', function () {
            const startGw = parseInt($(this).val());
            const endGw = parseInt($('#end-gw').val());
            if (startGw <1){
                $(this).val(1);
            }
            else if (startGw >num_gw)
            {
                $(this).val(num_gw);
            }
            if (startGw > endGw) {
                $(this).val(endGw);
            }
        });

        $('#end-gw').on('input', function () {
            const startGw = parseInt($('#start-gw').val());
            const endGw = parseInt($(this).val());
            if (endGw <1){
                $(this).val(1);
            }
            else if (endGw >num_gw)
            {
                $(this).val(num_gw);
            }
            if (endGw < startGw) {
                $(this).val(startGw);
            }
        });
    });
    window.addEventListener('load', function() {
            const loader = document.getElementById('loader');
            const content = document.getElementById('container');
            loader.style.display = 'none';
            content.style.display = 'block';
        });
</script>
</body>
</html>
