<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='teams_stats.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div id="loader" class="loader"></div>
    <a href="{{ url_for('index') }}" class="logo-link">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Home" class="logo">
    </a>
    <div class="container" id="container" style="display: none;">
        <div class="title-container">
            <div>PREMIER LEAGUE PLAYERS STATS</div>
            <div class="subtitle">Track your player's performance with updated stats</div>
        </div>
        <div class="page-header">
            <div class="switch-container">
                <button id="all-btn" class="switch-btn selected">All</button>
                <button id="gk-btn" class="switch-btn">GK</button>
                <button id="def-btn" class="switch-btn">DEF</button>
                <button id="mid-btn" class="switch-btn">MID</button>
                <button id="atk-btn" class="switch-btn">ATK</button>
            </div>

            <div class="gw-selection">
                <label for="start-gw">Start GW:</label>
                <input type="number" id="start-gw" min="1" max="{{ num_gw }}" value="1">
                <label for="end-gw">End GW:</label>
                <input type="number" id="end-gw" min="1" max="{{ num_gw }}" value="{{ num_gw }}">
                <button id="apply-gw">Apply</button>
            </div>
        </div>
        
        <div class="table-wrapper">
            <table class="standings-table">
                <thead>
                    <tr>
                        <th title="Player" class="fixed-column">
                            <a href="#" data-sort-by="team" data-sort-order="desc">Player <span id="team"></span></a>
                        </th>
                        <th title="Team">
                            <a href="#" data-sort-by="games_played" data-sort-order="asc">Team <span id="games_played"></span></a>
                        </th>
                        <th title="Points">
                            <a href="#" data-sort-by="goals" data-sort-order="asc">Pts <span id="goals"></span></a>
                        </th>
                        <th title="Minutes Played">
                            <a href="#" data-sort-by="xg" data-sort-order="asc">MP <span id="xg"></span></a>
                        </th>
                        <th title="Goals">
                            <a href="#" data-sort-by="delta_xg" data-sort-order="asc">Goals <span id="delta_xg"></span></a>
                        </th>
                        <th title="Expected Goals">
                            <a href="#" data-sort-by="shots" data-sort-order="asc">xG <span id="shots"></span></a>
                        </th>
                        <th title="Assists">
                            <a href="#" data-sort-by="sib" data-sort-order="asc">Assists <span id="sib"></span></a>
                        </th>
                        <th title="Expected Assists">
                            <a href="#" data-sort-by="sot" data-sort-order="asc">xA <span id="sot"></span></a>
                        </th>
                        <th title="Own Goals">
                            <a href="#" data-sort-by="bc" data-sort-order="asc">OG <span id="bc"></span></a>
                        </th>
                        <th title="Shots">
                            <a href="#" data-sort-by="failed_to_score" data-sort-order="asc">Shots <span id="failed_to_score"></span></a>
                        </th>
                        <th title="Big Chances">
                            <a href="#" data-sort-by="shots" data-sort-order="asc">BC <span id="shots"></span></a>
                        </th>
                        <th title="Chances Created">
                            <a href="#" data-sort-by="sib" data-sort-order="asc">CC <span id="sib"></span></a>
                        </th>
                        <th title="Big Chances Created">
                            <a href="#" data-sort-by="sot" data-sort-order="asc">BCC <span id="sot"></span></a>
                        </th>
                        <th title="Shots On Target">
                            <a href="#" data-sort-by="bc" data-sort-order="asc">SOT <span id="bc"></span></a>
                        </th>
                        <th title="Total Bonuses">
                            <a href="#" data-sort-by="bc" data-sort-order="asc">Bonus <span id="bc"></span></a>
                        </th>
                        <th title="Hit Woodwork">
                            <a href="#" data-sort-by="failed_to_score" data-sort-order="asc">HW <span id="failed_to_score"></span></a>
                        </th>
                        <th title="Totla Crosses">
                            <a href="#" data-sort-by="failed_to_score" data-sort-order="asc">Tot Cross <span id="failed_to_score"></span></a>
                        </th>
                    </tr>
                </thead>
                <tbody id="data-table">
                </tbody>
            </table>
        </div>
    </div>

    <script>
        let corrend_position = 'all';
        let num_gw;
        let sortBy='team';
        let sortOrder='asc';


        $(document).ready(function() {
            $('th a').click(function(event) {
                var $this = $(this);
                sortBy = $this.data('sort-by');
                sortOrder = $this.data('sort-order');
                sortOrder = (sortOrder === 'asc') ? 'desc' : 'asc';
                $this.data('sort-order', sortOrder);
                fetchAndSendStats(corrend_position);
            });
        });
        const playerPageBaseUrl = "{{ url_for('player_page', player_id='') }}"; // Base URL

        function updateTable(data) {
            const tableBody = document.getElementById('data-table');
            tableBody.innerHTML = '';
            data.forEach(function(player) {
                const row = document.createElement('tr');
                const playerPageUrl = `${playerPageBaseUrl}${player.id}`; // Append player ID
                row.innerHTML = `
                    <td class="fixed-column" title="${player.position}">
                        <a href="${playerPageUrl}" class="team-link">
                            ${player.web_name}  
                        </a>
                    </td>
                    <td>${player.team}</td>
                    <td>${player.total_points}</td>
                    <td>${player.minutes_played}</td>
                    <td>${player.goals}</td>
                    <td>${player.xG}</td>
                    <td>${player.assists}</td>
                    <td>${player.xA}</td>
                    <td>${player.OG}</td>
                    <td>${player.shots}</td>
                    <td>${player.bc}</td>
                    <td>${player.chances_created}</td>
                    <td>${player.bc_created}</td>
                    <td>${player.sot}</td>
                    <td>${player.bonus}</td>
                    <td>${player.hit_wood_work}</td>
                    <td>${player.total_cross}</td>
                `;
                tableBody.appendChild(row);
            });
            
        }
        function fetchAndSendStats(dataType) {
            const startGw = $('#start-gw').val();
            const endGw = $('#end-gw').val();

            $.ajax({
                url: '/get_players_stats',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    position: dataType,
                    start_gw: startGw,
                    end_gw: endGw,
                    sort_by:sortBy,
                    sort_order:sortOrder
                }),
                success: function(response) {
                    updateTable(response['stats']);
                    num_gw=response['num_gw']
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }

        $(document).ready(function() {
            fetchAndSendStats(corrend_position);
        });
        $('#apply-gw').click(function() {
            fetchAndSendStats(corrend_position);
        })
        $('#all-btn').click(function() {
            corrend_position = 'all';
            fetchAndSendStats(corrend_position);
        })
        $('#gk-btn').click(function() {
            corrend_position = 'GKP';
            fetchAndSendStats(corrend_position);
        })
        $('#def-btn').click(function() {
            corrend_position = 'DEF';
            fetchAndSendStats(corrend_position);
        })
        $('#mid-btn').click(function() {
            corrend_position = 'MID';
            fetchAndSendStats(corrend_position);
        })
        $('#atk-btn').click(function() {
            corrend_position = 'FWD';
            fetchAndSendStats(corrend_position);
        })

        // gw selection
        $(document).ready(function () {
            $('.switch-btn').on('click', function () {
                $('.switch-btn').removeClass('selected');
                $(this).addClass('selected');
            });

            $('#start-gw').on('input', function () {
                const startGw = parseInt($(this).val());
                const endGw = parseInt($('#end-gw').val());
                if (startGw <1){
                    $(this).val(1);
                }
                else if (startGw >num_gw)
                {
                    $(this).val(num_gw);
                }
                if (startGw > endGw) {
                    $(this).val(endGw);
                }
            });

            $('#end-gw').on('input', function () {
                const startGw = parseInt($('#start-gw').val());
                const endGw = parseInt($(this).val());
                if (endGw <1){
                    $(this).val(1);
                }
                else if (endGw >num_gw)
                {
                    $(this).val(num_gw);
                }
                if (endGw < startGw) {
                    $(this).val(startGw);
                }
            });
        });

        window.addEventListener('load', function() {
            const loader = document.getElementById('loader');
            const content = document.getElementById('container');
            loader.style.display = 'none';
            content.style.display = 'block';
        });
    </script>
</body>
</html>
