<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Price Change</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='price_change.css') }}">
</head>
<body>
  <div class="title-container">
    <div>Price Changes on day {{day}}</div>
  </div>
  <div class="container">
    <div class="tables">
      <!-- Left Table -->
      <div class="table-card">
        <div class="card-header">
          <div class="title">
              <span>Risers</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#3498db" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <line x1="12" y1="19" x2="12" y2="5"></line>
                  <polyline points="5 12 12 5 19 12"></polyline>
              </svg>
          </div>
      </div>
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>Cost</th>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(risers.players|length) %}
            <tr>
              <td>{{risers.players[i]}}</td>
              <td>{{risers.cost[i]}}</td>
              <td>{{risers.team[i]}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>

      <!-- Right Table -->
      <div class="table-card">
        <div class="card-header">
          <div class="title">
              <span>Fallers</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#e74c3c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <polyline points="19 12 12 19 5 12"></polyline>
            </svg>
          </div>
      </div>
        <table>
          <thead>
            <tr>
              <th>Player</th>
              <th>Cost</th>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
            {% for i in range(fallers.players|length) %}
            <tr>
              <td>{{fallers.players[i]}}</td>
              <td>{{fallers.cost[i]}}</td>
              <td>{{fallers.team[i]}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Button Section -->
    <div class="button-container">
      <button class="post-twitter-btn" id="copy_price_change">Copy Text</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
